/* Global theme styles, some variables, some animations w/ keyframes */

/* 
    Makes it so that adding a "dark" className can be used to manually apply 
    dark theme instead of only relying on the user's system prefs
*/
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Noto Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-stdfore: var(--color-neutral-50);
  --color-stdfore-highlight: var(--color-neutral-400);

  --color-stdpositive: var(--color-green-500);
  --color-stdnegative: var(--color-red-500);

  --hover-anim-duration-slow: 300ms;
  --hover-anim-duration-fast: 200ms;

  --icon-dist: 42px;

  /* would be this in regular TW: bg-linear-20 from-indigo-300 via-teal-700 to-lime-400  */
  --pretty-gradient: linear-gradient(20deg, var(--color-indigo-300), var(--color-teal-700), var(--color-lime-400));

  /* in std TW looks like: bg-linear-to-bl from-slate-950 via-mist-900 to-stone-900 
    abstract gradient in the style of a dim night sky with a subtle sunrise beginning on bottom-left
  */
  --dim-gradient: linear-gradient(to bottom left, var(--color-slate-950), var(--color-mist-950), var(--color-stone-900));

  --animate-gradient: gradient 10s linear infinite;

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}