:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$logo-color-0: #3fb687;
$logo-color-1: #b2c6e6;

@mixin shadow1 {
  box-shadow: 5px 5px 10px #07070770;
}

@mixin logo-colors-gradient {
  background-image: linear-gradient(15deg, $logo-color-0 0%, $logo-color-1 100%);
}

@mixin text-logo-colors-gradient {
  background-image: linear-gradient(15deg, $logo-color-0 0%, $logo-color-1 100%);
  background-clip: text;
  text-decoration: underline;
  color: transparent;
}

div .nav {
  position: fixed;
  background-color: #3a3838;
  width: 100%;
  min-height: 3.5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  @include shadow1;
}

div .nav-home {
  font-size: 1.5em;
  margin-left: 1em;
}

.nav-title {
  @include text-logo-colors-gradient;
  font-weight: 630;
}
